<!-- Modal Background -->
<div
  class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-10"
  *ngIf="isOpen"
>
  <!-- Modal Content -->
  <div class="bg-gray-200 p-6 rounded-lg shadow-lg max-w-sm mx-auto relative">
    <!-- Loading Indicator -->
    <div *ngIf="loading" class="flex items-center justify-center w-full">
      <div
        class="py-2 px-4 flex justify-center items-center bg-slate-600 hover:bg-slate-700 focus:ring-blue-500 focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg max-w-md"
      >
        <svg
          width="20"
          height="20"
          fill="currentColor"
          class="mr-2 animate-spin"
          viewBox="0 0 1792 1792"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M526 1394q0 53-37.5 90.5t-90.5 37.5q-52 0-90-38t-38-90q0-53 37.5-90.5t90.5-37.5 90.5 37.5 37.5 90.5zm498 206q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-704-704q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm1202 498q0 52-38 90t-90 38q-53 0-90.5-37.5t-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-964-996q0 66-47 113t-113 47-113-47-47-113 47-113 113-47 113 47 47 113zm1170 498q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-640-704q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm530 206q0 93-66 158.5t-158 65.5q-93 0-158.5-65.5t-65.5-158.5q0-92 65.5-158t158.5-66q92 0 158 66t66 158z"
          ></path>
        </svg>
        Loading...
      </div>
    </div>

    <!-- Tu HTML existente -->

    <!-- Componente de Confirmación -->
    <app-alert
      *ngIf="showConfirmation"
      [message]="confirmationMessage"
      (confirmed)="onConfirmAction()"
      (canceled)="onCancelAction()"
    ></app-alert>

    <div *ngIf="!loading">
      <button
        (click)="closeModal()"
        class="absolute top-2 right-2 text-gray-500 hover:text-gray-700 text-xl z-20"
      >
        &times;
      </button>
      <h2 class="text-lg text-center font-semibold mb-4">
        {{ category ? "Editar Categoría" : "Nueva Categoría" }}
      </h2>
      <form
        [formGroup]="categoryForm"
        (ngSubmit)="submitForm()"
        class="flex flex-col"
      >
        <label
          for="nombre_categoria"
          class="block text-sm font-medium text-gray-700 mb-2"
          >Nombre de la Categoría:</label
        >
        <input
          id="nombre_categoria"
          formControlName="nombre_categoria"
          type="text"
          [ngClass]="{ 'border-red-500': isFieldInvalid('nombre_categoria') }"
          class="bg-[#c6c6c6] text-gray-700 rounded-md py-2 px-3 w-full mb-4 outline-none focus:border-slate-700 placeholder:text-gray-400"
          placeholder="Categoria................."
        />
        <div class="flex justify-end">
          <button
            type="submit"
            class="bg-gradient-to-r from-slate-700 to-purple-950 text-white py-1 px-3 rounded-md hover:from-slate-600 hover:to-slate-500 transform transition-transform duration-300 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-slate-500 flex items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
            {{ category ? "Actualizar" : "Agregar" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
