<div
  class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4"
>
  <div>
    <button
      class="inline-flex items-center text-white bg-slate-700 border border-gray-300 focus:outline-none focus:ring-4 focus:ring-gray-100 hover:bg-slate-600 font-medium rounded-lg text-sm px-3 py-1.5"
      type="button"
      (click)="abrirModal()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="icon icon-tabler icons-tabler-filled icon-tabler-square-rounded-plus me-3"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M12 2l.324 .001l.318 .004l.616 .017l.299 .013l.579 .034l.553 .046c4.785 .464 6.732 2.411 7.196 7.196l.046 .553l.034 .579c.005 .098 .01 .198 .013 .299l.017 .616l.005 .642l-.005 .642l-.017 .616l-.013 .299l-.034 .579l-.046 .553c-.464 4.785 -2.411 6.732 -7.196 7.196l-.553 .046l-.579 .034c-.098 .005 -.198 .01 -.299 .013l-.616 .017l-.642 .005l-.642 -.005l-.616 -.017l-.299 -.013l-.579 -.034l-.553 -.046c-4.785 -.464 -6.732 -2.411 -7.196 -7.196l-.046 -.553l-.034 -.579a28.058 28.058 0 0 1 -.013 -.299l-.017 -.616c-.003 -.21 -.005 -.424 -.005 -.642l.001 -.324l.004 -.318l.017 -.616l.013 -.299l.034 -.579l.046 -.553c.464 -4.785 2.411 -6.732 7.196 -7.196l.553 -.046l.579 -.034c.098 -.005 .198 -.01 .299 -.013l.616 -.017c.21 -.003 .424 -.005 .642 -.005zm0 6a1 1 0 0 0 -1 1v2h-2l-.117 .007a1 1 0 0 0 .117 1.993h2v2l.007 .117a1 1 0 0 0 1.993 -.117v-2h2l.117 -.007a1 1 0 0 0 -.117 -1.993h-2v-2l-.007 -.117a1 1 0 0 0 -.993 -.883z"
          fill="currentColor"
          stroke-width="0"
        />
      </svg>
      Nueva categoria
    </button>
  </div>
  <div class="relative">
    <input
      type="text"
      id="table-search"
      class="block p-2 pe-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-100 focus:ring-slate-700 focus:border-slate-700 outline-none"
      placeholder="Buscar categoria..."
    />
    <div class="absolute inset-y-0 right-0 flex items-center text-white">
      <button
        class="bg-slate-700 w-full h-full p-2 rounded-e-md hover:bg-slate-600"
      >
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>

<!-- Modal de categoría -->
<app-modal-category 
  [isOpen]="isModalOpen" 
  [category]="selectedCategory" 
  (close)="cerrarModal()"  
  (categoryAdded)="onCategoryAdded()"
  (categoryUpdated)="onCategoryUpdated()">
</app-modal-category>

<!-- Indicador de carga -->
<div *ngIf="loading" class="flex items-center justify-center">
  <div
    class="py-2 px-4 flex items-center bg-slate-600 hover:bg-slate-700 focus:ring-slate-500 focus:ring-offset-blue-200 text-white transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg max-w-md"
  >
    <svg
      width="20"
      height="20"
      fill="currentColor"
      class="mr-2 animate-spin"
      viewBox="0 0 1792 1792"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M526 1394q0 53-37.5 90.5t-90.5 37.5q-52 0-90-38t-38-90q0-53 37.5-90.5t90.5-37.5 90.5 37.5 37.5 90.5zm498 206q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-704-704q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm1202 498q0 52-38 90t-90 38q-53 0-90.5-37.5t-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-964-996q0 66-47 113t-113 47-113-47-47-113 47-113 113-47 113 47 47 113zm1170 498q0 53-37.5 90.5t-90.5 37.5-90.5-37.5-37.5-90.5 37.5-90.5 90.5-37.5 90.5 37.5 37.5 90.5zm-640-704q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm530 206q0 93-66 158.5t-158 65.5q-93 0-158.5-65.5t-65.5-158.5q0-92 65.5-158t158.5-66q92 0 158 66t66 158z"
      ></path>
    </svg>
    Loading...
  </div>
</div>

<app-alert
  *ngIf="showAlert"
  [message]="alertMessage"
  (confirmed)="handleConfirmDelete()"
  (canceled)="handleCancelDelete()">
</app-alert>

<div
  *ngIf="!loading"
  class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 mt-4"
>
  <!-- Tarjeta 1 -->
  @for (item of listaCategoria; track item.id; let i = $index) {
  <div
    class="bg-white shadow-md rounded-md overflow-hidden flex items-center cursor-pointer transform transition-transform ease-in hover:-translate-y-2"
  >
    <!-- Barra de color -->
    <div
      class="w-2 h-full"
      [ngStyle]="{ 'background-color': colores[i] }"
    ></div>

    <!-- Contenido de la tarjeta -->
    <div class="flex-1 flex items-center space-x-4 p-4">
      <div class="flex-1">
        <h2 class="text-sm font-medium text-gray-800">
          {{ item.nombre_categoria }}
        </h2>
      </div>
      <div class="flex space-x-2">
        <button class="text-blue-500 hover:text-blue-700" (click)="editarCategoria(item)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-pencil"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
            <path d="M13.5 6.5l4 4" />
          </svg>
        </button>
        <button class="text-red-500 hover:text-red-700" (click)="eliminarCategoria(item.id)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-trash"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 7l16 0" />
            <path d="M10 11l0 6" />
            <path d="M14 11l0 6" />
            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  } @empty {
  <li>There are no items.</li>
  }
</div>
